<ion-content [scrollEvents]="true" [fullscreen]="true">

  <app-slider></app-slider>
  <div class="btnDiv">
    <ion-button *ngIf="authService.userInfo.superadmin === true" (click)="cargarKupones()" expand="block" shape="round"
      class="ion-padding benefitsBtn">
      Cargar KuPones
    </ion-button>

    <ion-button *ngIf="authService.userInfo.admin" (click)="verificar()" expand="block" shape="round"
      class="ion-padding benefitsBtn">
      Verificación de KuPones
    </ion-button>

    <ion-button *ngIf="authService.userInfo.empresa" (click)="corporativos()" expand="block" shape="round"
      class="ion-padding benefitsBtn">
      Beneficios {{authService.userInfo.empresa}}
    </ion-button>
  </div>

    <ion-card *ngIf="comercioCards.length === 0 && verifyBox" class="verifyTitleBox" >
    <ion-card-header class="verifyHeader">
      <ion-card-title class="verifyHeaderTitle">Tu comercio no tiene KuPones Activos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="comercioCards.length !== 0 && verifyBox" class="verifyTitleBox" >
    <ion-card-header class="verifyHeader">
      <ion-card-title class="verifyHeaderTitle">KuPones Activos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div *ngIf="comercioCards.length !== 0 && verifyBox" class="verifyBoxCard">
          <ion-searchbar placeholder="Buscar Usuario!" inputmode="text" (ionChange)="onSearchChangeVerify($event)" [debounce]="250"
        animated mode="ios" #cardContent id="cardContent">
      </ion-searchbar>
  <ion-col size="12" size-sm="12" size-md="12" size-lg="6" ngClass="colContent" *ngFor="let card of comercioCards | verifypipe:verifySearch">
    <ion-card class="cardContent" mode="md" (click)="preverify(card)" >
      <img src="{{card.img}}" class="cardImg" />

      <ion-card-content class="card">
        <ion-card-subtitle class="cardSubTitle">Usuario: {{card.usuario}}</ion-card-subtitle>

        <ion-card-title class="cardTitle">Valor: {{card.valor}}</ion-card-title>
        <br class="br">

        <ion-card-subtitle class="cardSubTitle">Fecha:
          <span>{{card.isoDate}}</span></ion-card-subtitle>
        <ion-badge color="primary" class="precio ion-margin-vertical badge">Verificar KuPon</ion-badge>
      </ion-card-content>
    </ion-card>
  </ion-col>
  </div>
<div *ngIf="promoImg">
  <div *ngIf="promo">
    <ion-card *ngFor="let prom of promo" (click)="categorieFilter(prom.filter)" class="promo">
      <ion-img src="{{prom.img}}"></ion-img>
    </ion-card>
  </div>
</div>



  <ion-grid fixed *ngIf="!(kuponInput || verifyBox)">
    <ion-row>

      <ion-grid fixed class="ion-padding catRow">
        <ion-row>
          <ion-col size="3" *ngFor="let categorie of categories |async" class="categorieCol" mode="md">
            <ion-fab-button class="categorieRow categorieBtn" (click)="categorieFilter(categorie.catId)" mode="md">
              <ion-col>
                <ion-row class="categorieRow">
                  <ion-icon name="{{categorie.icon}}" class="categorieIcon" mode="md"></ion-icon>
                </ion-row>
              </ion-col>

            </ion-fab-button>
            <ion-row class="categorieRow">
              <p class="categorieName">{{categorie.categoria}}</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-searchbar placeholder="Buscar KuPon!" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250"
        animated mode="ios" #cardContent id="cardContent">
      </ion-searchbar>

      <div *ngIf="textoBuscar === 'adultos'">
        <ion-item class="ion-margin" fill="solid">
          <ion-checkbox slot="start" [(ngModel)]="ageVerify"></ion-checkbox>
          <ion-label class="ageConsent">Declaro ser mayor de 18 años de edad</ion-label>
        </ion-item>
      </div>



      <ion-col size="12" size-sm="12" size-md="12" size-lg="6" ngClass="colContent"
        *ngFor="let card of cards | filtro:textoBuscar">

        <ion-card *ngIf="card.categoria !== 'adultos'" class="cardContent" mode="md" (click)="mostrarModal(card)">
          <img src="{{card.img}}" class="cardImg" />

          <ion-card-content class="card">
            <ion-card-subtitle class="cardSubTitle">{{card.comercio}}</ion-card-subtitle>

            <ion-card-title class="cardTitle">{{card.titulo}}</ion-card-title>
            <br class="br">

            <ion-card-subtitle *ngIf="card.categoria !== 'gaming'" class="cardSubTitle">Descuento:
              <span>{{card.valor}}</span></ion-card-subtitle>
            <ion-card-subtitle *ngIf="card.categoria === 'gaming'" class="cardSubTitle">Valor:
              <span>{{card.valor}}</span></ion-card-subtitle>

            <ion-card-title class="cardTitle" *ngIf="card.precio > 0 && authService.userInfo.grupos[1] !== 'free'">
              Compralo por: <span>${{card.precio}}</span>
            </ion-card-title>

            <ion-card-title class="cardTitle" *ngIf="card.precio === 0 && card.categoria !== 'gaming' || authService.userInfo.grupos[1] === 'free' && card.categoria !== 'gaming'">
              <span>KuPon GRATIS</span>
            </ion-card-title>

            <ion-card-title class="cardTitle" *ngIf="card.precio === 0 && card.categoria === 'gaming' || authService.userInfo.grupos[1] === 'free' && card.categoria === 'gaming'">
              Compralo por: <span>${{card.precio}}</span>
            </ion-card-title>

            <ion-badge color="primary" class="precio ion-margin-vertical" *ngIf="card.premium">PREMIUM</ion-badge>
            <ion-badge color="primary" class="contadorventas ion-margin-vertical" *ngIf="card.contadorVentas">Vendidos: {{card.contadorVentas}}</ion-badge>
          </ion-card-content>

        </ion-card>

        <div *ngIf="ageVerify">
          <ion-card *ngIf="card.categoria === 'adultos'" class="cardContent" mode="md" (click)="mostrarModal(card)">
            
            <img src="{{card.img}}" class="cardImg" />

            <ion-card-content class="card">
              <ion-badge color="primary" class="contadorventas ion-margin-vertical" *ngIf="card.contadorVentas">Vendidos: {{card.contadorVentas}}</ion-badge>

              <ion-card-subtitle class="cardSubTitle">{{card.comercio}}</ion-card-subtitle>

              <ion-card-title class="cardTitle">{{card.titulo}}</ion-card-title>
              <br class="br">

              <ion-card-subtitle *ngIf="card.categoria !== 'gaming'" class="cardSubTitle">Descuento:
                <span>{{card.valor}}</span></ion-card-subtitle>
              <ion-card-subtitle *ngIf="card.categoria === 'gaming'" class="cardSubTitle">Valor:
                <span>{{card.valor}}</span></ion-card-subtitle>
              <ion-card-title class="cardTitle" *ngIf="card.precio > 0 && authService.userInfo.grupos[1] !== 'free'">
                Compralo por: <span>${{card.precio}}</span>
              </ion-card-title>
              <ion-card-title class="cardTitle" *ngIf="card.precio === 0 || authService.userInfo.grupos[1] === 'free'">
                <span>KuPon GRATIS</span>
              </ion-card-title>
              <ion-badge color="primary" class="precio ion-margin-vertical" *ngIf="card.premium">PREMIUM</ion-badge>
              
            </ion-card-content>

          </ion-card>

        </div>

      </ion-col>

    </ion-row>
  </ion-grid>

  <div *ngIf="kuponInput" class="ion-padding">

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Categoria" [(ngModel)]="kuponInfo.categoria"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Comercio" [(ngModel)]="kuponInfo.comercio"></ion-input>
    </ion-item>
    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Codigo de Comercio" [(ngModel)]="kuponInfo.comercioCode"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Mail de Comercio" [(ngModel)]="kuponInfo.mailComercio"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Whatsapp" [(ngModel)]="kuponInfo.whatsapp"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Instagram" [(ngModel)]="kuponInfo.instagram"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Web" [(ngModel)]="kuponInfo.web"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Location" [(ngModel)]="kuponInfo.location"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Titulo" [(ngModel)]="kuponInfo.titulo"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Descripcion" [(ngModel)]="kuponInfo.descripcion"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Condiciones" [(ngModel)]="kuponInfo.condiciones"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Img" [(ngModel)]="kuponInfo.img"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-datetime [(ngModel)]="kuponInfo.validDate">
        <span slot="title">KuPon vigente hasta:</span>
      </ion-datetime>
    </ion-item>

    <!-- <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Extra Imgs" [(ngModel)]="kuponInfo.extras"></ion-input>
    </ion-item> -->
    <ion-item>
    <ion-label>Incluir en Slider:</ion-label>
    <ion-toggle slot="end" [(ngModel)]="kuponInfo.slider"></ion-toggle>
  </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Palabras Clave" [(ngModel)]="kuponInfo.key"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="number" placeholder="Precio" [(ngModel)]="kuponInfo.precio"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="text" placeholder="Valor" [(ngModel)]="kuponInfo.valor"></ion-input>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-checkbox [(ngModel)]="kuponInfo.compraOnline" slot="start"></ion-checkbox>
      <ion-label>Es un KuPon de compra Online?</ion-label>
    </ion-item>

    <ion-item *ngIf="kuponInfo.compraOnline" class="ion-margin-bottom">
      <ion-input type="text" placeholder="Código de Categoría" [(ngModel)]="kuponInfo.onlineCode"></ion-input>
    </ion-item>

    <ion-button (click)="cargarKupon()" expand="block" fill="clear" shape="round">
      Cargar Kupon
    </ion-button>


  </div>

</ion-content>
