.cardContent {
  display: inline-block;
  text-align: center;
  height: 350px;
  margin: 0;
}

.cardImg {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.cardTitle {
  font-size: medium;
}

.precio {
font-size: large;
color: #fafafa;
}

span {
  font-weight: bolder;
}



.categorieIcon {
    font-size: 33px;
}

.categorieRow {
    display: inline-block;
    text-align: center;
    color: #fafafa;
}

.categorieCol {
    text-align: center;    
}

.categorieName{
    font-size: 12px;
}

.cardTitle {
    padding-left: 20px;
    font-size: 20px;
}

.cardSubTitle {
    padding-top: 10px;
    padding-left: 20px;
}

.categorieBtn {
    height: 55px;
    width: 55px;
}