<ion-content  [scrollEvents]="true" [fullscreen]="true">

<app-slider></app-slider>
  
  <ion-button *ngIf="authService.userInfo.empresa" (click)="corporativos()" expand="block" shape="round" class="ion-padding benefitsBtn">
    Beneficios {{authService.userInfo.empresa}}
  </ion-button>

<ion-grid fixed>
  <ion-row>

      <ion-grid fixed class="ion-padding">
    <ion-row >
      <ion-col size="3" *ngFor="let categorie of categories |async" class="categorieCol" mode="md">
        <ion-fab-button class="categorieRow categorieBtn" (click)="categorieFilter(categorie.catId)" mode="md">
          <ion-col>
            <ion-row class="categorieRow">
              <ion-icon name="{{categorie.icon}}" class="categorieIcon" mode="md"></ion-icon>
            </ion-row>
          </ion-col>

        </ion-fab-button>
        <ion-row class="categorieRow">
              <p class="categorieName">{{categorie.categoria}}</p>
            </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

    <ion-searchbar placeholder="Buscar KuPon!" inputmode="text" (ionChange)="onSearchChange($event)" [debounce]="250"
      animated mode="ios" #cardContent id="cardContent">
    </ion-searchbar>
    
    <ion-col size="6" size-sm="6" size-md="4" size-lg="3" class="colContent" *ngFor="let card of cards | filtro:textoBuscar">
      <ion-card class="cardContent" mode="md" (click)="mostrarModal(card)">
        <img src="{{card.img}}" class="cardImg" />

        <ion-card-content>
          <ion-card-subtitle class="cardSubTitle">{{card.comercio}}</ion-card-subtitle>

          <ion-card-title class="cardTitle">{{card.titulo}}</ion-card-title>
          <br>

          <ion-card-subtitle class="cardSubTitle">Valor del KuPon: <span>${{card.valor}}</span></ion-card-subtitle>
          <ion-card-title class="cardTitle" *ngIf="card.precio > 0">Compralo por: <span>${{card.precio}}</span>
          </ion-card-title>
          <ion-card-title class="cardTitle" *ngIf="card.precio === 0"><span>KuPon GRATIS</span>
          </ion-card-title>
          <ion-badge color="primary" class="precio ion-margin-vertical" *ngIf="card.premium">PREMIUM</ion-badge>
        </ion-card-content>

      </ion-card>

    </ion-col>

  </ion-row>
</ion-grid>


</ion-content>

