<ion-grid fixed>
  <ion-row>

    <ion-searchbar placeholder="Buscar KuPon!" inputmode="text" (ionChange)="onSearchChange($event)"
      [debounce]="250" animated mode="ios">
    </ion-searchbar>

    <ion-col size="6" *ngFor="let card of cards | filtro:textoBuscar">
      <ion-card class="cardContent" mode="md">
        <img src="{{card.img}}" class="cardImg" />
        <ion-card-content>
          <ion-card-subtitle class="cardSubTitle">{{card.comercio}}</ion-card-subtitle>
          <ion-card-title class="cardTitle">{{card.titulo}}</ion-card-title>
          <ion-button fill="outline" (click)="mostrarModal(card)">Ver KuPon</ion-button>
        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>
</ion-grid>
