.cardImg {
  object-fit: cover;
  height: 120px;
  width: 120px;
}

.cardTitle {
    padding-left: 0px;
    font-size: 12px;
}

.cardSubTitle {
  font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
}

.cardContent {
  display: flex;
  height: auto;
  max-height: 150px;
  width: 100%;
  // justify-content: space-between;
  margin: 10px;
}

.card {
  padding: 0;
  margin: 10px 10px 10px 10px;
  font-size: 8px;
}

.colContent {
    margin: 0;
    padding: 0;
}

.content{
    text-align: center;
}