#headerIcon {
  height: 40px;
  display: inline-flex;
  margin-left: 8px;
}

.headerFab {
  font-size: 40px;
  color: #fafafa;
  --ionicon-stroke-width: 50px;
}

#ionFab {
  width: 30px;
  height: 30px;
}

.top {
  margin: 0;
}
