<swiper [autoplay]="true" [keyboard]="true" [pagination]="true" [zoom]="true">
  <ng-template swiperSlide>
    <ion-card>
      <ion-img src="https://sc2.elpais.com.uy/files/article_default_content/uploads/2019/04/04/5ca65174579d3.jpeg" class="sliderImg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Don Bigote</ion-card-subtitle>
        <ion-card-title>25% OFF en Parrillin para Dos!</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

    <ng-template swiperSlide>
    <ion-card>
      <ion-img src="https://lh3.googleusercontent.com/p/AF1QipOp6HcZ9ynBrLNdgicrez76IjDNc3WdKu-K_AqL=w1080-h608-p-no-v0" class="sliderImg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Sumo BrewPub</ion-card-subtitle>
        <ion-card-title>2x1 en Ipa de la Casa!</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>

    <ng-template swiperSlide>
    <ion-card>
      <ion-img src="https://www.sistemaufo.com/imgs/presentaciones/presentaciones0_7215.jpg?6320" class="sliderImg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Sistema Ufo</ion-card-subtitle>
        <ion-card-title>15% Off en toda la linea Audix!</ion-card-title>
      </ion-card-header>
    </ion-card>
  </ng-template>
</swiper>
