<swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="false" [zoom]="false" mode="md" *ngIf="endorsers">
  <ng-template swiperSlide *ngFor="let endorser of endorsers">
      <ion-card (click)="endorserLink(endorser.link)" class="card">
        <ion-img src="{{endorser.img}}" class="endorserImg"></ion-img>
      </ion-card>
    </ng-template>
</swiper>

<swiper [slidesPerView]="2" [autoplay]="true" [keyboard]="true" [pagination]="false" [zoom]="false" mode="md">
    <ng-template swiperSlide *ngFor="let card of cards">
      <ion-card (click)="mostrarModal(card)" class="card">
        <ion-img src="{{card.img}}" class="sliderImg"></ion-img>
        <ion-card-header class="header">
          <ion-card-subtitle class="subtitle">{{card.comercio}}</ion-card-subtitle>
          <ion-card-title class="title">{{card.titulo}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-template>
</swiper>

