<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <h1 class="ion-padding sectionTitle" *ngIf="articles.length !== 0">KuPones Favoritos</h1>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4" size-sm="4" size-md="4" size-lg="3" class="colContent" *ngFor="let card of articles">
          <ion-card class="cardContent" mode="md" (click)="mostrarModal(card)" *ngIf="card.validDate > myDate">
            <img src="{{card.img}}" class="cardImg" />

            <ion-card-content>
              <ion-card-subtitle class="cardSubTitle">{{card.comercio}}</ion-card-subtitle>

              <ion-card-subtitle class="cardSubTitleValue">Descuento de: <span>{{card.valor}}</span></ion-card-subtitle>
            </ion-card-content>

          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="articles.length === 0">
      <ion-card-header class="noFavDiv">
                <ion-card-title class="cardTitle">Aún no tienes KuPones Favoritos</ion-card-title>
                <ion-img src="../../../assets/icon/favicon.png" class="img"></ion-img>
        <ion-card-subtitle class="cardSubTitle2">Elige algunos KuPones para utilizar cuando quieras!</ion-card-subtitle>
      </ion-card-header>
    </ion-card>


  </ion-content>
