.sectionTitle {
  text-align: center;
}

.cardContent {
  display: inline-block;
  text-align: center;
  margin: 0;
  height: 100%;
}

.colContent{
  text-align: center;
}

.cardImg {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.cardTitle {
  font-size: medium;
}

.precio {
font-size: large;
color: #fafafa;
}

span {
  font-weight: bolder;
}

.cardTitle {
    padding-left: 0px;
    font-size: 20px;
}

.cardSubTitle {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 10px;
}

.cardSubTitle2 {
    padding-top: 25px;
    padding-left: 0px;
    font-size: 12px;
}

.cardSubTitleValue {
    padding-top: 0px;
    padding-left: 0px;
    font-size: 15px;
    color: #fafafa;
}

.img{
height: 80px;
margin-top: 25px;
}

.noFavDiv{
text-align: center;
}

.kuponesBtn {
  color: #fafafa;
  font-weight: bolder;
  margin-bottom: 50px;
}

@media only screen and (min-width: 500px) {

.categorieName{
    font-size: 12px;
    margin: 0 20px 0 20px;
}

}

@media only screen and (min-width: 760px) {

.categorieName{
    font-size: 12px;
    margin: 0 40px 0 40px;
}

}