<ion-toolbar>
  <ion-grid class="top">
    <ion-row>
      <ion-col size="4">
        <ion-img src="../../../assets/icon/favicon.png" id="headerIcon"></ion-img>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
      <ion-fab horizontal="end">
        <ion-fab-button id="ionFab" size="small" color="primary" (click)="salir()">
          <ion-icon name="arrow-back-outline" class="headerFab"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>

  <ion-card class="ion-padding">

    <ion-img src="{{info.img}}"></ion-img>

    <div class="ion-padding">
      <ion-icon *ngIf="info.location" name="location-outline" class="icons" (click)="location()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.whatsapp" name="logo-whatsapp" class="icons" (click)="whatsapp()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.instagram" name="logo-instagram" class="icons" (click)="instagram()" target="_blank">
      </ion-icon>
    </div>

    <ion-card-header class="cardHeader">

      <ion-datetime [(ngModel)]="dateSelected" presentation="date-time" [isDateEnabled]="isWeekday" hourValues="9, 10, 11, 12, 13, 14, 15, 16, 17, 18" hourCycle="h23" minuteValues="0, 15, 30, 45"></ion-datetime>
      <ion-button (click)="kuponCode(info)" shape="round" class="kuponBtn">
        Reservar Hora
      </ion-button>
      
      <ion-card-subtitle class="comercio">{{info.comercio}}</ion-card-subtitle>

      <ion-card-title class="titulo ion-margin-vertical">{{info.titulo}}</ion-card-title>
      <ion-card-title class="ion-margin-vertical titulo">Kupon valor<span> ${{info.valor}}</span></ion-card-title>

    </ion-card-header>

    <ion-card-content class="ion-padding">
      <ion-card-subtitle class="subtitle">Descripción:</ion-card-subtitle>
      {{info.descripcion}}
      <hr>
      <ion-card-subtitle class="subtitle">Condiciones:</ion-card-subtitle>
      {{info.condiciones}}
    </ion-card-content>

  </ion-card>


</ion-content>

