<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <ion-grid fixed>
    <ion-row>

      <ion-col size="8" class="ion-padding">
        <ion-card-content>
          <ion-card-title>{{authService.userInfo.nombre}}</ion-card-title>
          <ion-card-subtitle>{{authService.userInfo.email}}</ion-card-subtitle>

        </ion-card-content>
      </ion-col>

      <ion-col size="4" class="chip">
        <ion-card-subtitle>
          <ion-chip color="primary" mode="ios" outline="true">
            <ion-label *ngIf="authService.userInfo.premium === false">Lite</ion-label>
            <ion-label *ngIf="authService.userInfo.premium === true">Premium</ion-label>
          </ion-chip>
        </ion-card-subtitle>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-button (click)="premium()" expand="block" fill="solid" shape="round" class="ion-padding loginBtn" *ngIf="authService.userInfo.premium === false">
    Contratar Plan Premium
  </ion-button>


  <ion-button (click)="logout()" expand="block" fill="solid" shape="round" class="ion-padding loginBtn" color="danger">
    Cerrar Sesión
  </ion-button>

<ion-card class="faq ion-padding">
  <ion-card-header>
    <ion-card-title>Como Utilizar KuPon</ion-card-title>
  </ion-card-header>
  <ion-card-content>
<ion-accordion-group>
  <ion-accordion value="one">
    <ion-item slot="header">
      <ion-label>Elegí tu KuPon</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item>
        <p>Elegí dentro de las categorías el KuPon que te interesa utilizar.</p>
      </ion-item>
    </ion-list>

  </ion-accordion>
  <ion-accordion value="two">
    <ion-item slot="header">
      <ion-label>KuPones con Costo</ion-label>
    </ion-item>
    <ion-list slot="content">
      <ion-item>
        <p>Si el KuPon tiene costo, podes comprarlo con cualquiera de nuestros medios de pago. Una vez lo tengas, lo podrás utilizar en el comercio indicado.</p>
      </ion-item>
    </ion-list>
  </ion-accordion>
  <ion-accordion value="three">
    <ion-item slot="header">
      <ion-label>KuPones Gratis</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item>
        <p>Estos KuPones solo tienes que descargarlos, y utilizarlos cuando quieras!</p>
      </ion-item>
    </ion-list>
  </ion-accordion>

  <ion-accordion value="premium">
    <ion-item slot="header">
      <ion-label>KuPones Premium</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item>
        <p>Para poder acceder a estos KuPones debes tener contratado nuestro plan Premium.</p>
      </ion-item>
    </ion-list>
  </ion-accordion>

  <ion-accordion value="four">
    <ion-item slot="header">
      <ion-label>Condiciones</ion-label>
    </ion-item>
    <ion-list slot="content">
      <ion-item>
        <p>Cada KuPon tiene condiciones de uso. Verifícalas para poder utilizarlo sin ningún problema!</p>
      </ion-item>
    </ion-list>
  </ion-accordion>

  <ion-accordion value="five">
    <ion-item slot="header">
      <ion-label>Contáctanos</ion-label>
    </ion-item>
    <ion-list slot="content">
      <ion-item>
        <p>Ante cualquier consulta, solo contáctanos a través de la barra superior de la App. Allí encontrarás nuestro Whatsapp, Instagram, y nuestra página web!</p>
      </ion-item>
    </ion-list>
  </ion-accordion>

  <ion-accordion value="datosUsuario">
    <ion-item slot="header">
      <ion-label>Mis Datos</ion-label>
    </ion-item>

    <ion-list slot="content" *ngIf="!actualizarDatos">
      <ion-item>
        <p>Nombre: {{authService.userInfo.nombre}}</p>
      </ion-item>
      <ion-item>
        <p>Email: {{authService.userInfo.email}}</p>        
      </ion-item>
      <ion-item>
        <p>Telefono: {{authService.userInfo.tel}}</p>
      </ion-item>
      <!-- <ion-button (click)="actualizar()" expand="block" fill="clear" shape="round">
        Actualizar Mis Datos
      </ion-button> -->
    </ion-list>

    <ion-list slot="content" *ngIf="actualizarDatos">
      <ion-item>
        <ion-input type="text" placeholder="Nombre" [(ngModel)]="userInfo.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Teléfono" [(ngModel)]="userInfo.tel"></ion-input>
      </ion-item>

       <ion-button (click)="actualizar()" expand="block" fill="clear" shape="round" color="danger">
        Cancelar
      </ion-button>

      <ion-button (click)="actualizarDatosUsuario()" expand="block" fill="clear" shape="round">
        Actualizar
      </ion-button>
    </ion-list>

  </ion-accordion>
</ion-accordion-group>
  </ion-card-content>
</ion-card>

<ion-card class="ion-padding" *ngIf="authService.userInfo.admin">
  <ion-card-header>
    <ion-card-title>Confirmar KuPon utilizado</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Email del Usuario" [(ngModel)]="verify.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text" placeholder="Codigo del KuPon" [(ngModel)]="verify.code"></ion-input>
      </ion-item>
      <ion-button (click)="verifyKupon()" expand="block" shape="round" class="ion-padding loginBtn">
        Confirmar
      </ion-button>
  </ion-card-content>
</ion-card>


</ion-content>
