<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


<ion-img class="loginLogo" src="../../../assets/icon/favicon.png"></ion-img>


  <form [formGroup]="credentials" (ngSubmit)="login()">

    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email invalido</ion-note>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password" ></ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Email invalido</ion-note>
    </ion-item>


    <ion-button type="submit" expand="block" shape="round" [disabled]="!credentials.valid" class="loginBtn">
      Ingresar
    </ion-button>


  </form>

<hr class="hr">

    <ion-button type="button" (click)="register()" expand="block" fill="clear" shape="round">
      Registrar nueva cuenta
    </ion-button>

<!-- <ion-button (click)="signIn()" expand="block" fill="clear" shape="round">
Login with google
</ion-button>

<h2 *ngIf="user">{{user.givenName}}</h2> -->


</ion-content>
