<ion-header>
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding gralDiv">

  <ion-img class="loginLogo" src="../../../assets/icon/favicon.png"></ion-img>


  <ion-item class="ion-margin-bottom">
    <ion-input type="text" placeholder="Nombre" [(ngModel)]="userInfo.nombre" required></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom" *ngIf="userInfo.nombre">
    <ion-input type="tel" placeholder="Teléfono" [(ngModel)]="userInfo.tel" required minlength="9" id="tel"></ion-input>
  </ion-item>

  <ion-item class="ion-margin-bottom" *ngIf="userInfo.tel && userInfo.nombre">
  <ion-checkbox slot="start" [(ngModel)]="checked"></ion-checkbox>
  <ion-label class="textCheckBox">Tienes un Código de Registro?</ion-label>
</ion-item>

  <ion-item class="ion-margin-bottom" *ngIf="checked">
    <ion-input type="text" placeholder="Ingresa el Código de Registro" [(ngModel)]="userInfo.code" id="code">
    </ion-input>
  </ion-item>

  <form [formGroup]="credentials" (ngSubmit)="check()" *ngIf="userInfo.tel && userInfo.nombre">

    <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email invalido</ion-note>
    </ion-item>

    <ion-item class="ion-margin-bottom">
       <ion-input [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password">
        </ion-input>
        <ion-button class="type-toggle" (click)="toggleShow()" fill="clear">
          <ion-icon class="show-option" name="{{hide ? 'eye-off-outline' : 'eye-outline'}}"></ion-icon>
        </ion-button>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Password invalido (minimo 8
        caracteres)</ion-note>
    </ion-item>

    <ion-button type="submit" expand="block" shape="round" [disabled]="!credentials.valid" class="loginBtn">
      Registrar Cuenta
    </ion-button>


  </form>

  <hr class="hr">

  <ion-button (click)="back()" expand="block" fill="clear" shape="round">
    Volver a Login
  </ion-button>


</ion-content>
