<ion-toolbar>
  <ion-grid class="top">
    <ion-row>
      <ion-col size="4">
        <ion-img src="../../../assets/icon/favicon.png" id="headerIcon"></ion-img>
      </ion-col>
      <ion-col size="4"></ion-col>
      <ion-col size="4">
      <ion-fab mode="md" horizontal="end">
        <ion-fab-button id="ionFab" size="small" color="primary" (click)="salir()">
          <ion-icon name="arrow-back-outline" class="headerFab"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>

  <ion-card>

        <ion-img *ngIf="info.extras[0] === ''" src="{{info.img}}" class="modImg"></ion-img>
    <swiper *ngIf="info.extras[0] !== ''" [slidesPerView]="1" [autoplay]="true" [keyboard]="true" [pagination]="true" [zoom]="false" mode="md">
      <ng-template swiperSlide>
        <ion-img src="{{info.img}}" class="modImg"></ion-img>
      </ng-template>

      <ng-template swiperSlide *ngFor="let extras of info.extras">
        <ion-img src="{{extras}}" class="modImg"></ion-img>
      </ng-template>

    </swiper>

    <div class="ion-padding">
      <ion-icon *ngIf="info.location" name="location-outline" class="icons" (click)="location()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.whatsapp" name="logo-whatsapp" class="icons" (click)="whatsapp()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.instagram" name="logo-instagram" class="icons" (click)="instagram()" target="_blank">
      </ion-icon>
    </div>

    <ion-card-header class="cardHeader">

      <ion-button *ngIf="info.code" (click)="kuponCode()" shape="round" class="kuponBtn">
        Ver Codigo del KuPon
      </ion-button>
      
      <ion-card-subtitle class="comercio">{{info.comercio}}</ion-card-subtitle>

      <ion-card-title class="titulo ion-margin-vertical">{{info.titulo}}</ion-card-title>
      <hr class="hr">

      <ion-card-title class="subtitle2 ion-margin-vertical">KuPon valor: <span>{{info.valor}}</span></ion-card-title>
      <ion-card-subtitle *ngIf="info.normalprice">Precio normal: <span class="normalprice">{{info.normalprice}}</span></ion-card-subtitle>
      <ion-card-subtitle *ngIf="info.discountprice" class="discountprice">Con este KuPon pagás: {{info.discountprice}}</ion-card-subtitle>

<hr class="hr">

    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle class="subtitle">Descripción:</ion-card-subtitle>
      {{info.descripcion}}
      <hr>
      <ion-card-subtitle class="subtitle">Condiciones:</ion-card-subtitle>
      {{info.condiciones}}
    </ion-card-content>

  </ion-card>

</ion-content>
