.return {
  --ionicon-stroke-width: 40px;
  color: #fafafa;
}

#headerIcon {
  height: 40px;
    margin-left: 8px;
  display: inline-flex;
}

.comercio {
  font-size: large;
  padding: 16px 16px 16px 0;
}

.titulo {
  font-size: 20px;
}

.precio {
  font-size: large;
  color: #fafafa;
}

#headerIcon {
  height: 40px;
}

.heartIcon {
  color: #fafafa;
}

.headerFab {
  font-size: 40px;
  color: #fafafa;
  --ionicon-stroke-width: 50px;
}

#ionFab {
    width: 30px;
    height: 30px;
    margin: 12px 0 12px 12px;
}

.top {
  margin-top: 35px;
}

.kuponBtn {
  color: #fafafa;
}

.subtitle {
  font-weight: bolder;
}

span {
  font-weight: bolder;
}

.icons {
  color: #fafafa;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.cardHeader {
  padding-top: 0;
}
.hr {
  background-color: #757070;
  height: 3px;
  margin-top: 15px;
}

.normalprice {
  text-decoration: line-through;
}

.discountprice {
 font-weight: bold;
}