.return {
    --ionicon-stroke-width: 40px;
    color: #fafafa;
}

#headerIcon {
    height: 40px;
}

.headerFab {
    font-size: 40px;
    color: #fafafa;
    --ionicon-stroke-width: 50px;
}

#ionFab {
    width: 30px;
    height: 30px;
    margin: 12px;
}