.sectionTitle {
  text-align: center;
}

.cardContent {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: space-between;
  margin: 0;
}

.reserva{
align-self: flex-end;
margin: 0;
}

.card {
  padding: 0;
  margin: 10px 10px 10px 10px;
}
.cardImg {
  object-fit: cover;
  height: 120px;
  width: 120px;
}
.cardTitle {
  font-size: medium;
}

.precio {
font-size: large;
color: #fafafa;
}

span {
  font-weight: bolder;
}

.cardTitle {
    padding-left: 0px;
    font-size: 15px;
}

.cardSubTitle {
    padding-top: 0px;
    padding-left: 0px;
}

.kuponesBtn {
  color: #fafafa;
  font-weight: bolder;
  margin-bottom: 50px;
}

@media only screen and (min-width: 500px) {

.categorieName{
    font-size: 12px;
    margin: 0 20px 0 20px;
}

}

@media only screen and (min-width: 760px) {

.categorieName{
    font-size: 12px;
    margin: 0 40px 0 40px;
}

}