<ion-toolbar>
  <ion-grid class="top">
    <ion-row>
      <ion-col size="4">
        <ion-img src="../../../assets/icon/favicon.png" id="headerIcon"></ion-img>
      </ion-col>

      <ion-col size="4"></ion-col>

      <ion-col size="4">
        <ion-fab mode="md" horizontal="end">
          <ion-fab-button id="ionFab" size="small" color="primary" (click)="salir()">
            <ion-icon name="arrow-back-outline" class="headerFab"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content>

  <ion-card mode="md">

        <ion-img *ngIf="info.extras[0] === ''" src="{{info.img}}" class="modImg"></ion-img>

    <swiper *ngIf="info.extras[0] !== ''" [slidesPerView]="1" [autoplay]="true" [keyboard]="true" [pagination]="true" [zoom]="false" mode="md">
      <ng-template swiperSlide>
        <ion-img src="{{info.img}}" class="modImg"></ion-img>
      </ng-template>

      <ng-template swiperSlide *ngFor="let extras of info.extras">
        <ion-img src="{{extras}}" class="modImg"></ion-img>
      </ng-template>

    </swiper>


    <div class="ratingDiv">
      <ion-chip class="ratingChip">
        <ion-label>Calificación: {{avgRating | async}}</ion-label>
        <ion-icon name="star" color="warning"></ion-icon>
      </ion-chip>
    </div>


    <div class="ion-padding">
      <ion-icon *ngIf="info.location" name="location-outline" class="icons" (click)="location()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.whatsapp" name="logo-whatsapp" class="icons" (click)="whatsapp()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.instagram" name="logo-instagram" class="icons" (click)="instagram()" target="_blank">
      </ion-icon>
      <ion-icon *ngIf="info.web" name="globe-outline" class="icons" (click)="web()" target="_blank">
      </ion-icon>
      <ion-icon [name]="fav ? 'heart': 'heart-outline'" size="large" (click)="addFav()"
        class="ion-float-right heartIcon"></ion-icon>
    </div>

    <ion-card-header class="cardHeader">

      <ion-button (click)="pay()" shape="round" class="kuponBtn"
        *ngIf="info.precio > 0 && init_point && authService.userInfo.grupos[1] !== 'free'"
        [disabled]="!authService.userInfo.premium && info.premium">
        Comprar KuPon: ${{info.precio}}
      </ion-button>
      <!-- <ion-button (click)="premium()" shape="round" class="kuponBtn"
        *ngIf="info.precio > 0 && !authService.userInfo.premium && info.premium">
        Pasar a PREMIUM
      </ion-button> -->
      <ion-button (click)="pay()" shape="round" class="kuponBtn"
        *ngIf="info.precio === 0 || authService.userInfo.grupos[1] === 'free' && info.categoria === 'gaming'">
        Comprar KuPon: ${{info.precio}}
      </ion-button>

      <ion-button (click)="onClick()" shape="round" class="kuponBtn"
        *ngIf="info.precio === 0 || authService.userInfo.grupos[1] === 'free' && info.categoria !== 'gaming'">
        Descargar KuPon GRATIS
      </ion-button>

      <!-- <ion-button (click)="onClick()" shape="round" class="kuponBtn" *ngIf="authService.userInfo.grupos[1] === 'free'">
        Descargar KuPon GRATIS
      </ion-button> -->

      <ion-card-subtitle class="comercio">{{info.comercio}}</ion-card-subtitle>

      <div class="ratingDiv2">
        <ion-card-subtitle class="subRating">Califica este KuPon:</ion-card-subtitle>
        <fieldset class="rating">
          <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
            <input (click)="starHandler(num)" [id]="'star'+num" [value]="num" name="rating" type="radio" />
            <label class="full" [for]="'star'+num"></label>
          </ng-container>
        </fieldset>
      </div>

      <hr class="hr">

      <ion-card-title class="titulo ion-margin-vertical">{{info.titulo}}</ion-card-title>

      <hr class="hr">

      <ion-card-title class="subtitle2 ion-margin-vertical">KuPon valor: <span>{{info.valor}}</span></ion-card-title>
      <ion-card-subtitle *ngIf="info.normalprice">Precio normal: <span class="normalprice">{{info.normalprice}}</span>
      </ion-card-subtitle>
      <ion-card-subtitle *ngIf="info.discountprice" class="discountprice">Con este KuPon pagás: {{info.discountprice}}
      </ion-card-subtitle>

      <hr class="hr">

    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle class="subtitle">Descripción:</ion-card-subtitle>
      {{info.descripcion}}
      <hr class="hr">
      <ion-card-subtitle class="subtitle">Condiciones:</ion-card-subtitle>
      {{info.condiciones}}
    </ion-card-content>

  </ion-card>

</ion-content>
