.return {
    --ionicon-stroke-width: 40px;
    color: #fafafa;
}

#headerIcon {
    height: 40px;
}

.comercio {
font-size: large;
}

.titulo {
font-size: 30px;
}

.precio {
font-size: large;
color: #fafafa;
}

#headerIcon {
    height: 40px;
}

.heartIcon {
    color: #fafafa;
}

.headerFab {
    font-size: 40px;
    color: #fafafa;
    --ionicon-stroke-width: 50px;
}

#ionFab {
    width: 30px;
    height: 30px;
    margin: 12px;

}

.kuponBtn {
    color:#fafafa;
}